<form class="comment-form">
  <div class="row">
    <textarea rows="5" class="form-textarea" name="comment-body"
      placeholder="What do you think of this Hidden Gem?"></textarea>
  </div>

  <div>
    <button type="submit" class="btn">Add Comment</button>
  </div>
</form>