<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traveler's Hidden Gems</title>
    <link rel="stylesheet" href="/projects/project-2/public/stylesheets/styles.css">
</head>

<body>
    <header>
        <h1>
            <a href="/">Traveler's Hidden Gems</a>
        </h1>
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        Thanks for visiting!
    </footer>
    </div>

</body>

</html>