<section>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="card col-8" style="margin-top:10px;">

        <h2 style="text-align: center;" class="text-secondary">Create New Post</h2>

        <form class="new-post-form" style="text-align: center;">
          <div>
            <input class="form-label" type="text" id="post-title" name="post-title" placeholder="Post Title"
              style="width: 300px" />
          </div>
          <div>
            <textarea rows="5" cols="40" class="form-textarea" id="content" name="content"
              placeholder="Describe your newest Hidden Gem!"></textarea>
          </div>
          <div>
            <label style="font-weight: 700" for="lat-lon">Lat/Lon</label>
            <input class="form-label" type="text" id="lat-lon" name="lat-lon" placeholder="34.090860, -118.337554" />
          </div>
          <button type="submit" class="btn btn-primary m-2">Create</button>
        </form>

      </div>



    </div>

  </div>


</section>

<script src="/javascript/add-post.js"></script>

{{!-- title: req.body.title,
contents: req.body.contents,
latitude: req.body.latitude,
longitude: req.body.longitude,
icon: req.body.icon, (unused)
user_id: req.session.user_id (unneeded) --}}