<h1>Dashboard</h1>

<section>
  <a href="/dashboard/newpost"><button class="btn btn-primary">Create New Post</button></a>
  
  {{username}}
  
  {{#if posts.length}}
  <section>
    <h2>Your Posts</h2>
    <ul>
      {{#each posts as |post|}}
      <li>
        {{> posts post}}
      </li>
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">
        <button class="btn btn-inline">Edit Post</button>
      </a>
      <a href="post/{{id}}">
        <h4>{{commentCount post.comments}}</h4>
      </a>
      {{/each}}
    </ul>
  </section>
  {{/if}}

{{>map}}






</section>

<br />
