<section style="background-color:aliceblue; opacity: .7; margin-top: 50px;" class="container">
    <div class="row">
        <div class="d-flex flex-column">
            <h2 class="text-center">
                Unfortunately, an error has occurred.
            </h2>
            <h2 class="text-center">
                Please return to the <a href="https://sleepy-woodland-16634.herokuapp.com/">Home Page</a>.
            </h2>
            <h2 class="text-center">
                Thanks!
            </h2>
        </div>
    </div>
</section>