@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --pri-clr: #0289e3;
    --dark-pri-clr: #0260e3;
    --white-clr: #fff;
    --black: #1d1d1f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title a:link {
    color: black;
    text-decoration: none;
}


/* start of homepage formatting */
.feed-list {
    list-style: none;
    padding: 20px;
}

.feed-list h4 {
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
    font-style: oblique;
    margin-left: 10px;
}

.divider {
    border-bottom: solid 1px black;
    margin-top: 20px;
}
.post-contents {
    margin-left: 10px;
    margin-bottom: 0px;
    font-size: 18px;
}
.post-title {
    font-size:24px;
    font-weight: bold;
    color: var(--dark-pri-clr);
}

.comment-text {
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.post-byline, .comment-byline {
    color: var(--pri-clr);
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
}

